valkey:
  image:
    repository: bitnamilegacy/valkey

  global:
    security:
      allowInsecureImages: true

  architecture: standalone

  primary:
    # priorityClassName: medium-priority
    resourcesPreset: small

    # See: https://github.com/bitnami/charts/blob/main/bitnami/valkey/README.md#host-kernel-settings
    #podSecurityContext:
    #  sysctls:
    #    - name: net.core.somaxconn
    #      value: "10000"

    persistence:
      size: 2Gi

  replica:
    replicaCount: 0
    # If replicas are enabled, use the same priority class as primary
    # priorityClassName: medium-priority

  metrics:
    image:
      repository: bitnamilegacy/redis-exporter

    resourcesPreset: "small"
    enabled: true

    serviceMonitor:
      enabled: true

    podMonitor:
      enabled: true
