{{- $fullName := include "chorus-ci.fullname" . -}}
{{- $serviceAccountName := include "chorus-ci.serviceAccountName" . -}}
{{- $githubSecretName := index .Values.githubSecrets "chorus-backend" }}
{{- $backendAcceptanceTestsReleaseName := "acceptance" -}}
---
apiVersion: argoproj.io/v1alpha1
kind: Sensor
metadata:
  name: {{ $fullName }}-build-chorus-backend
  labels:
    {{- include "chorus-ci.labels" . | nindent 4 }}
spec:
  eventBusName: {{ $fullName }}-default
  template:
    serviceAccountName: {{ $serviceAccountName }}
  dependencies:
    - name: build-chorus-backend
      eventSourceName: {{ $fullName }}-github
      eventName: chorus-backend
      filters:
        data:
          - path: headers.X-Github-Event
            type: string
            value:
              - push
          - path: "body.ref"
            type: string
            value:
              # The goal is to publish tagged releases.
              - "refs/heads/master"
              - "refs/tags/v*"

    - name: ci-chorus-backend
      eventSourceName: {{ $fullName }}-github
      eventName: chorus-backend
      filters:
        data:
          - path: headers.X-Github-Event
            type: string
            value:
              - pull_request
          - path: "body.action"
            type: string
            value:
              - "opened"
              - "synchronize"

  triggers:
    - template:
        conditions: ci-chorus-backend
        name: github-workflow-trigger-ci-chorus-backend
        k8s:
          operation: create
          source:
            resource:
              apiVersion: argoproj.io/v1alpha1
              kind: Workflow
              metadata:
                generateName: "-"
              spec:
                serviceAccountName: {{ $serviceAccountName }}
                entrypoint: go-test

                arguments:
                  parameters:
                    - name: repoUrl
                    - name: repoFullName
                    - name: ref
                    - name: sha

                hooks:
                  running:
                    expression: workflow.status == "Running"
                    templateRef:
                      name: {{ $fullName }}-github-notify-template
                      template: github-notify
                    arguments:
                      parameters:
                        - name: repoFullName
                          value: "{{`{{workflow.parameters.repoFullName}}`}}"
                        - name: sha
                          value: "{{`{{workflow.parameters.sha}}`}}"
                        - name: githubSecret
                          value: {{ $githubSecretName }}
                  exit:
                    templateRef:
                      name: {{ $fullName }}-github-notify-template
                      template: github-notify
                    arguments:
                      parameters:
                        - name: repoFullName
                          value: "{{`{{workflow.parameters.repoFullName}}`}}"
                        - name: sha
                          value: "{{`{{workflow.parameters.sha}}`}}"
                        - name: githubSecret
                          value: {{ $githubSecretName }}

                templates:
                  - name: go-test
                    steps:
                      - - name: run-tests
                          template: test

                  - name: test
                    inputs:
                      artifacts:
                        - name: git
                          path: "/src"
                          git:
                            repo: "{{`{{workflow.parameters.repoUrl}}`}}"
                            revision: "{{`{{workflow.parameters.sha}}`}}"
                            usernameSecret:
                              name: {{ $githubSecretName }}
                              key: username
                            passwordSecret:
                              name: {{ $githubSecretName }}
                              key: password
                            ref: "{{`{{workflow.parameters.ref}}`}}"
                    volumes:
                      - name: github-secret
                        secret:
                          secretName: {{ $githubSecretName }}
                    container:
                      env:
                        - name: GIT_USERNAME
                          valueFrom:
                            secretKeyRef:
                              name: {{ $githubSecretName }}
                              key: username
                        - name: GIT_PASSWORD
                          valueFrom:
                            secretKeyRef:
                              name: {{ $githubSecretName }}
                              key: password
                      image: {{ .Values.chorusBackend.golang.imageDomain | default .Values.global.imageDomain }}/{{ .Values.chorusBackend.golang.imageNamespace | default .Values.global.imageNamespace }}/golang:{{ .Values.chorusBackend.golang.tag | default "latest" }}
                      command: [sh, -e, -c]
                      args:
                        - >
                          GOPRIVATE=github.com/CHORUS-TRE/*
                          GIT_CONFIG_COUNT=1
                          GIT_CONFIG_KEY_0=url."https://${GIT_USERNAME}:${GIT_PASSWORD}@github.com/".insteadOf
                          GIT_CONFIG_VALUE_0=https://github.com/
                          go test -v ./...
                      workingDir: "/src"

          parameters:
            - src:
                dependencyName: ci-chorus-backend
                dataKey: body.repository.clone_url
              dest: spec.arguments.parameters.0.value
            - src:
                dependencyName: ci-chorus-backend
                dataKey: body.repository.full_name
              dest: spec.arguments.parameters.1.value
            - src:
                dependencyName: ci-chorus-backend
                dataKey: body.pull_request.head.ref
              dest: spec.arguments.parameters.2.value
            - src:
                dependencyName: ci-chorus-backend
                dataKey: body.pull_request.head.sha
              dest: spec.arguments.parameters.3.value
            # Append text and commit id to dynamically assign workflow name.
            - src:
                dependencyName: ci-chorus-backend
                dataTemplate: "ci-chorus-backend-pr{{`{{ .Input.body.pull_request.number }}`}}"
              dest: metadata.generateName
              operation: prepend
            # Generate a nice title and description
            - src:
                dependencyName: ci-chorus-backend
                dataTemplate: "CI {{`{{ .Input.body.repository.full_name }}`}}"
              dest: metadata.annotations.workflows\.argoproj\.io/title
            - src:
                dependencyName: ci-chorus-backend
                dataTemplate: "PR #{{`{{ .Input.body.pull_request.number }}`}} - {{`{{ .Input.body.pull_request.head.ref }}`}}"
              dest: metadata.annotations.workflows\.argoproj\.io/description

    - template:
        conditions: build-chorus-backend
        name: github-workflow-trigger-chorus-backend
        k8s:
          operation: create
          source:
            resource:
              apiVersion: argoproj.io/v1alpha1
              kind: Workflow
              metadata:
                generateName: "-"
              spec:
                serviceAccountName: {{ $serviceAccountName }}
                entrypoint: build-chorus-backend

                volumeClaimTemplates:
                  - metadata:
                      name: docker-data
                    spec:
                      accessModes: ["ReadWriteOnce"]
                      resources:
                        requests:
                          storage: {{ .Values.chorusBackend.dockerDataStorage.storageRequest | default .Values.workflow.dockerDataStorage.storageRequest | quote }}
                      storageClassName: {{ .Values.chorusBackend.dockerDataStorage.storageClassName | default .Values.workflow.dockerDataStorage.storageClassName | quote }}

                volumes:
                  - name: docker-config
                    secret:
                      secretName: {{ .Values.sensor.dockerConfig.secretName | quote }}
                      items:
                        - key: .dockerconfigjson
                          path: config.json

                arguments:
                  parameters:
                    - name: repoUrl
                    - name: repoFullName
                    - name: revision
                    - name: ref
                    - name: sha
                    - name: tag

                hooks:
                  running:
                    expression: workflow.status == "Running"
                    templateRef:
                      name: {{ $fullName }}-github-notify-template
                      template: github-notify
                    arguments:
                      parameters:
                        - name: repoFullName
                          value: "{{`{{workflow.parameters.repoFullName}}`}}"
                        - name: sha
                          value: "{{`{{workflow.parameters.sha}}`}}"
                        - name: githubSecret
                          value: {{ $githubSecretName }}

                  exit:
                    templateRef:
                      name: {{ $fullName }}-github-notify-template
                      template: github-notify
                    arguments:
                      parameters:
                        - name: repoFullName
                          value: "{{`{{workflow.parameters.repoFullName}}`}}"
                        - name: sha
                          value: "{{`{{workflow.parameters.sha}}`}}"
                        - name: githubSecret
                          value: {{ $githubSecretName }}

                templates:
                  - name: build-chorus-backend
                    steps:
                      - - name: docker-build
                          templateRef:
                            name: {{ $fullName }}-docker-build-template
                            template: docker-build
                          arguments:
                            parameters:
                              - name: image
                                value: "backend"
                              - name: tag
                                value: "{{`{{workflow.parameters.tag}}`}}"
                              - name: sha
                                value: "{{`{{workflow.parameters.sha}}`}}"
                              - name: dockerfile
                                value: "docker/dockerfiles/backend.dockerfile"
                              - name: repository
                                value: "chorus"
                              - name: registry
                                value: {{ .Values.sensor.registry | quote }}
                              - name: dockerConfigSecret
                                value: {{ .Values.sensor.dockerConfig.secretName | quote }}
                              - name: gitSecretName
                                value: {{ $githubSecretName | quote }}
                            artifacts:
                              - name: source
                                git:
                                  repo: "{{`{{workflow.parameters.repoUrl}}`}}"
                                  revision: "{{`{{workflow.parameters.revision}}`}}"
                                  usernameSecret:
                                    name: {{ $githubSecretName }}
                                    key: username
                                  passwordSecret:
                                    name: {{ $githubSecretName }}
                                    key: password
                                  depth: 1
                                  ref: "{{`{{workflow.parameters.ref}}`}}"

# TODO: discuss the possibility to first publish the image to a temporary project on Harbor,
# and only push to chorus project if acceptance tests pass.

                      - - name: acceptance-tests
                          templateRef:
                            name: {{ $fullName }}-backend-acceptance-tests-workflow-template
                            template: main
                          hooks:
                            exit:
                              templateRef:
                                name: {{ $fullName }}-backend-acceptance-tests-workflow-template
                                template: cleanup-namespace
                              arguments:
                                parameters:
                                  - name: chorusBackendAcceptanceNamespace
                                    value: {{ .Values.chorusBackend.acceptanceTestsNamespace }}
                                  - name: releaseName
                                    value: "{{ $backendAcceptanceTestsReleaseName }}-{{`{{workflow.uid | substr 0 8}}`}}"
                          arguments:
                            parameters:
                              - name: githubSecretName
                                value: {{ $githubSecretName }}
                              - name: releaseName
                                value: "{{ $backendAcceptanceTestsReleaseName }}-{{`{{workflow.uid | substr 0 8}}`}}"
                              - name: chorusBackendAcceptanceNamespace
                                value: {{ .Values.chorusBackend.acceptanceTestsNamespace }}
                              - name: chorusBackendImageTag
                                value: "{{`{{workflow.parameters.tag}}`}}"
                            artifacts:
                              - name: source
                                git:
                                  repo: "{{`{{workflow.parameters.repoUrl}}`}}"
                                  revision: "{{`{{workflow.parameters.revision}}`}}"
                                  usernameSecret:
                                    name: {{ $githubSecretName }}
                                    key: username
                                  passwordSecret:
                                    name: {{ $githubSecretName }}
                                    key: password
                                  depth: 1
                                  ref: "{{`{{workflow.parameters.ref}}`}}"

                      - - name: helm-publish
                          templateRef:
                            name: {{ $fullName }}-helm-publish-template
                            template: helm-publish
                          arguments:
                            parameters:
                              - name: chartsDir
                                value: "deploy"
                              - name: chartName
                                value: "backend"
                              - name: registry
                                value: {{ .Values.sensor.registry | quote }}
                              - name: dockerConfigSecret
                                value: {{ .Values.sensor.dockerConfig.secretName | quote }}
                            artifacts:
                              - name: source
                                git:
                                  repo: "{{`{{workflow.parameters.repoUrl}}`}}"
                                  revision: "{{`{{workflow.parameters.revision}}`}}"
                                  usernameSecret:
                                    name: {{ $githubSecretName }}
                                    key: username
                                  passwordSecret:
                                    name: {{ $githubSecretName }}
                                    key: password
                                  depth: 1
                                  ref: "{{`{{workflow.parameters.ref}}`}}"

          parameters:
            - src:
                dependencyName: build-chorus-backend
                dataKey: body.repository.clone_url
              dest: spec.arguments.parameters.0.value
            - src:
                dependencyName: build-chorus-backend
                dataKey: body.repository.full_name
              dest: spec.arguments.parameters.1.value
            - src:
                dependencyName: build-chorus-backend
                dataKey: body.after
              dest: spec.arguments.parameters.2.value
            - src:
                dependencyName: build-chorus-backend
                dataKey: body.ref
              dest: spec.arguments.parameters.3.value
            - src:
                dependencyName: build-chorus-backend
                dataKey: body.head_commit.id
              dest: spec.arguments.parameters.4.value
            - src:
                dependencyName: build-chorus-backend
                dataTemplate: '{{`{{ if hasPrefix "refs/tags/v" .Input.body.ref }}{{ .Input.body.ref | trimPrefix "refs/tags/v"  }}{{ else }}n/a{{ end }}`}}'
              dest: spec.arguments.parameters.5.value
            # Append text and commit id to dynamically assign workflow name.
            - src:
                dependencyName: build-chorus-backend
                dataTemplate: "build-chorus-backend-{{`{{ .Input.body.head_commit.id | substr 0 7 }}`}}"
              dest: metadata.generateName
              operation: prepend
            # Generate a nice title and description
            - src:
                dependencyName: build-chorus-backend
                dataTemplate: 'Release {{`{{ if hasPrefix "refs/tags/v" .Input.body.ref }}{{ .Input.body.ref | trimPrefix "refs/tags/v"  }}{{ end }}`}}'
              dest: metadata.annotations.workflows\.argoproj\.io/title
            - src:
                dependencyName: build-chorus-backend
                dataTemplate: '{{`{{ .Input.body.repository.full_name }}`}}'
              dest: metadata.annotations.workflows\.argoproj\.io/description

      retryStrategy:
        steps: 3
