fluent-operator:
  containerRuntime: containerd
  #  If you want to deploy a default Fluent Bit pipeline (including Fluent Bit Input, Filter, and output) to collect Kubernetes logs, you'll need to set the Kubernetes parameter to true
  # see https://github.com/fluent/fluent-operator/tree/master/manifests/logging-stack
  Kubernetes: true

  operator:
    image:
      # TODO: decide if we want to set up a proxy for ghcr.io too
      registry: ghcr.io
      repository: fluent/fluent-operator/fluent-operator
      tag: ""
    #imagePullSecrets: regcred

  fluentbit:
    # TODO: install CRDs independently
    crdsEnable: true
    enable: true
    image:
      registry: ghcr.io
      repository: fluent/fluent-operator/fluent-bit
      tag: "4.1.1"
      resources:
        limits:
          cpu: 500m
          memory: 200Mi
        requests:
          cpu: 10m
          memory: 25Mi
    #imagePullSecrets: regcred
    tolerations:
      - operator: Exists
    #priorityClassName: high-priority
    output:
      loki:
        enable: true
        host: "loki.chorus-tre.local"
        port: 3100
        autoKubernetesLabels: "on"
        labels:
        - job=fluentbit
        - namespace=$kubernetes['namespace_name']
        - pod=$kubernetes['pod_name']
        - pod_ip=$kubernetes['pod_ip']
        - service=$kubernetes['service_name']
        # TODO: implement auth for loki
        httpUser: null
        httpPassword: null
        bearerToken: null
        logLevel: info
        tenantID: chorus
#        bearerToken:
#          valueFrom:
#            secretKeyRef:
#              name: loki-bearer-token
#              key: token

  fluentd:
    # Fluentd crds are needed for the operator to start properly, even if Fluentd is not used
    crdsEnable: true
    enable: false
