kubeconfig_path = "~/.kube/config"
kubeconfig_context = "chorus-build"

harbor_admin_username = "admin"
keycloak_admin_username = "admin"
cluster_name = "chorus-build"
helm_values_path = "../../../environment-template/chorus-build"
chorus_tre_release = "0.0.1-alpha"