kubeconfig_path = "~/.kube/config"
kubeconfig_context = "chorus-build"

cluster_name = "chorus-build"
helm_values_path = "../../../environment-template/chorus-build"
github_environments_repository_pat = "github_pat_example"
keycloak_username = "admin"