kubeconfig_path = "~/.kube/config"
kubeconfig_context = "chorus-build"

harbor_admin_username = "admin"
keycloak_admin_username = "admin"
cluster_name = "chorus-build"
helm_values_path = "../../../environment-template/chorus-build"
keycloak_username = "admin"
harbor_admin_username = "admin"