{{- $currentScope := . }}
{{ range $path, $_ :=  .Files.Glob  "files/*-realm.yaml" }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ base $path | replace ".yaml" "" }}-config
  namespace: {{ $currentScope.Release.Namespace }}
data:
  {{ base $path }}: |-
  {{- with $currentScope }}
    {{ .Files.Get $path | nindent 4 }}
  {{- end }}
{{- end }}
