{{- $files := .Files }}
{{- $root := . }}
{{- range tuple "chorus-realm.json" "infra-realm.json" "master-realm.json" }}
{{- $realmName := replace . ".json" "" }}
{{- $fileContent := $files.Get (printf "files/%s" .) }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $realmName }}-config
  namespace: {{ $root.Release.Namespace }}
data:
  {{ . }}: {{ $fileContent }}
{{- end }}
