---
realm: "infra"
displayName: ""
displayNameHtml: ""
revokeRefreshToken: true
enabled: true
registrationAllowed: true
roles:
  client:
    grafana:
      - name: editor
        description: ""
        composite: false
        clientRole: true
        attributes: {}
      - name: admin
        description: ""
        composite: false
        clientRole: true
        attributes: {}
groups:
  - name: "HarborAdmins"
    path: "/HarborAdmins"
    subGroups: []
  - name: "Grafana"
    path: "/Grafana"
    subGroups:
      - name: "Editors"
        path: "/Grafana/Editors"
        subGroups:
          - name: "Administrators"
            path: "/Grafana/Editors/Administrators"
            subGroups: []
            realmRoles: []
            clientRoles:
              grafana:
                - admin
        realmRoles: []
        clientRoles:
          grafana:
            - editor
passwordPolicy: "length(8) and specialChars(1) and upperCase(1) and lowerCase(1) and\
  \ digits(1) and notUsername and notEmail and notContainsUsername"
webAuthnPolicySignatureAlgorithms:
  - "ES256"
  - "RS256"
webAuthnPolicyPasswordlessSignatureAlgorithms:
  - "ES256"
  - "RS256"
clients:
  - clientId: "admin-cli"
    name: "${client_admin-cli}"
    redirectUris: []
    webOrigins: []
    standardFlowEnabled: false
    directAccessGrantsEnabled: true
    publicClient: true
    frontchannelLogout: false
    protocol: "openid-connect"
    attributes:
      realm_client: "false"
      client.use.lightweight.access.token.enabled: "true"
    nodeReRegistrationTimeout: 0
    access: {}
  - clientId: "broker"
    name: "${client_broker}"
    redirectUris: []
    webOrigins: []
    bearerOnly: true
    publicClient: false
    frontchannelLogout: false
    protocol: "openid-connect"
    attributes:
      realm_client: "true"
    fullScopeAllowed: false
    nodeReRegistrationTimeout: 0
    access: {}
  - clientId: "realm-management"
    name: "${client_realm-management}"
    redirectUris: []
    webOrigins: []
    bearerOnly: true
    publicClient: false
    frontchannelLogout: false
    protocol: "openid-connect"
    attributes:
      realm_client: "true"
    fullScopeAllowed: false
    nodeReRegistrationTimeout: 0
    access: {}
  - clientId: "grafana"
    name: "Grafana"
    rootUrl: "$(GRAFANA_ROOT_URL)"
    adminUrl: "$(GRAFANA_ADMIN_URL)"
    baseUrl: "$(GRAFANA_BASE_URL)"
    secret: "$(GRAFANA_CLIENT_SECRET)"
    redirectUris: $(GRAFANA_REDIRECT_URIS)
    webOrigins: $(GRAFANA_WEB_ORIGINS)
    implicitFlowEnabled: true
    directAccessGrantsEnabled: true
    publicClient: false
    protocol: "openid-connect"
    attributes:
      realm_client: "false"
      exclude.issuer.from.auth.response: "false"
      backchannel.logout.session.required: "true"
      client_credentials.use_refresh_token: "false"
      display.on.consent.screen: "false"
      oauth2.device.authorization.grant.enabled: "false"
      backchannel.logout.revoke.offline.tokens: "false"
      use.refresh.tokens: "true"
      exclude.session.state.from.auth.response: "false"
    optionalClientScopes:
      - "offline_access"
      - "groups"
    access: {}
  - clientId: "harbor"
    name: "Harbor"
    rootUrl: "$(HARBOR_ROOT_URL)"
    adminUrl: "$(HARBOR_ADMIN_URL)"
    baseUrl: "$(HARBOR_BASE_URL)"
    secret: "$(HARBOR_CLIENT_SECRET)"
    redirectUris: $(HARBOR_REDIRECT_URIS)
    webOrigins: $(HARBOR_WEB_ORIGINS)
    implicitFlowEnabled: true
    directAccessGrantsEnabled: true
    publicClient: false
    protocol: "openid-connect"
    attributes:
      realm_client: "false"
      exclude.issuer.from.auth.response: "false"
      backchannel.logout.session.required: "true"
      client_credentials.use_refresh_token: "false"
      display.on.consent.screen: "false"
      oauth2.device.authorization.grant.enabled: "false"
      backchannel.logout.revoke.offline.tokens: "false"
      use.refresh.tokens: "true"
      exclude.session.state.from.auth.response: "false"
    optionalClientScopes:
      - "offline_access"
      - "groups"
    access: {}
  - clientId: "prometheus"
    name: "Prometheus"
    rootUrl: "$(PROMETHEUS_ROOT_URL)"
    adminUrl: "$(PROMETHEUS_ADMIN_URL)"
    baseUrl: "$(PROMETHEUS_BASE_URL)"
    secret: "$(PROMETHEUS_CLIENT_SECRET)"
    redirectUris: $(PROMETHEUS_REDIRECT_URIS)
    webOrigins: $(PROMETHEUS_WEB_ORIGINS)
    implicitFlowEnabled: true
    directAccessGrantsEnabled: true
    publicClient: false
    protocol: "openid-connect"
    attributes:
      realm_client: "false"
      exclude.issuer.from.auth.response: "false"
      backchannel.logout.session.required: "true"
      client_credentials.use_refresh_token: "false"
      display.on.consent.screen: "false"
      oauth2.device.authorization.grant.enabled: "false"
      backchannel.logout.revoke.offline.tokens: "false"
      use.refresh.tokens: "true"
      exclude.session.state.from.auth.response: "false"
    protocolMappers:
      - name: "aud-mapper-prometheus"
        protocol: "openid-connect"
        protocolMapper: "oidc-audience-mapper"
        consentRequired: false
        config:
          included.client.audience: "prometheus"
          id.token.claim: "true"
          access.token.claim: "true"
    optionalClientScopes:
      - "offline_access"
      - "groups"
    access: {}
  - clientId: "matomo"
    name: "Matomo"
    rootUrl: "$(MATOMO_ROOT_URL)"
    adminUrl: "$(MATOMO_ADMIN_URL)"
    baseUrl: "$(MATOMO_BASE_URL)"
    secret: "$(MATOMO_CLIENT_SECRET)"
    redirectUris: $(MATOMO_REDIRECT_URIS)
    webOrigins: $(MATOMO_WEB_ORIGINS)
    publicClient: false
    protocol: "openid-connect"
    attributes:
      realm_client: "false"
      oidc.ciba.grant.enabled: "false"
      exclude.issuer.from.auth.response: "false"
      backchannel.logout.session.required: "true"
      client_credentials.use_refresh_token: "false"
      frontchannel.logout.session.required: "true"
      display.on.consent.screen: "false"
      oauth2.device.authorization.grant.enabled: "false"
      backchannel.logout.revoke.offline.tokens: "false"
      use.refresh.tokens: "true"
      exclude.session.state.from.auth.response: "false"
    optionalClientScopes:
      - "address"
      - "phone"
      - "offline_access"
      - "microprofile-jwt"
    access: {}
  - clientId: "alertmanager"
    name: "Alertmanager"
    rootUrl: "$(ALERTMANAGER_ROOT_URL)"
    adminUrl: "$(ALERTMANAGER_ADMIN_URL)"
    baseUrl: "$(ALERTMANAGER_BASE_URL)"
    secret: "$(ALERTMANAGER_CLIENT_SECRET)"
    redirectUris: $(ALERTMANAGER_REDIRECT_URIS)
    webOrigins: $(ALERTMANAGER_WEB_ORIGINS)
    implicitFlowEnabled: true
    directAccessGrantsEnabled: true
    publicClient: false
    protocol: "openid-connect"
    attributes:
      realm_client: "false"
      exclude.issuer.from.auth.response: "false"
      backchannel.logout.session.required: "true"
      client_credentials.use_refresh_token: "false"
      display.on.consent.screen: "false"
      oauth2.device.authorization.grant.enabled: "false"
      backchannel.logout.revoke.offline.tokens: "false"
      use.refresh.tokens: "true"
      exclude.session.state.from.auth.response: "false"
    protocolMappers:
      - name: "aud-mapper-alertmanager"
        protocol: "openid-connect"
        protocolMapper: "oidc-audience-mapper"
        consentRequired: false
        config:
          included.client.audience: "alertmanager"
          id.token.claim: "true"
          access.token.claim: "true"
    optionalClientScopes:
      - "offline_access"
      - "groups"
    access: {}
clientScopes:
  - name: "acr"
    description: "OpenID Connect scope for add acr (authentication context class reference)\
      \ to the token"
    protocol: "openid-connect"
    attributes:
      include.in.token.scope: "false"
      display.on.consent.screen: "false"
    protocolMappers:
      - name: "acr loa level"
        protocol: "openid-connect"
        protocolMapper: "oidc-acr-mapper"
        consentRequired: false
        config:
          id.token.claim: "true"
          introspection.token.claim: "true"
          access.token.claim: "true"
  - name: "organization"
    description: "Additional claims about the organization a subject belongs to"
    protocol: "openid-connect"
    attributes:
      include.in.token.scope: "true"
      consent.screen.text: "${organizationScopeConsentText}"
      display.on.consent.screen: "true"
    protocolMappers:
      - name: "organization"
        protocol: "openid-connect"
        protocolMapper: "oidc-organization-membership-mapper"
        consentRequired: false
        config:
          id.token.claim: "true"
          introspection.token.claim: "true"
          access.token.claim: "true"
          claim.name: "organization"
          jsonType.label: "String"
          multivalued: "true"
  - name: "microprofile-jwt"
    description: "Microprofile - JWT built-in scope"
    protocol: "openid-connect"
    attributes:
      include.in.token.scope: "true"
      display.on.consent.screen: "false"
    protocolMappers:
      - name: "groups"
        protocol: "openid-connect"
        protocolMapper: "oidc-usermodel-realm-role-mapper"
        consentRequired: false
        config:
          introspection.token.claim: "true"
          multivalued: "true"
          user.attribute: "foo"
          id.token.claim: "true"
          access.token.claim: "true"
          claim.name: "groups"
          jsonType.label: "String"
      - name: "upn"
        protocol: "openid-connect"
        protocolMapper: "oidc-usermodel-attribute-mapper"
        consentRequired: false
        config:
          introspection.token.claim: "true"
          userinfo.token.claim: "true"
          user.attribute: "username"
          id.token.claim: "true"
          access.token.claim: "true"
          claim.name: "upn"
          jsonType.label: "String"
  - name: "basic"
    description: "OpenID Connect scope for add all basic claims to the token"
    protocol: "openid-connect"
    attributes:
      include.in.token.scope: "false"
      display.on.consent.screen: "false"
    protocolMappers:
      - name: "sub"
        protocol: "openid-connect"
        protocolMapper: "oidc-sub-mapper"
        consentRequired: false
        config:
          introspection.token.claim: "true"
          access.token.claim: "true"
      - name: "auth_time"
        protocol: "openid-connect"
        protocolMapper: "oidc-usersessionmodel-note-mapper"
        consentRequired: false
        config:
          user.session.note: "AUTH_TIME"
          id.token.claim: "true"
          introspection.token.claim: "true"
          access.token.claim: "true"
          claim.name: "auth_time"
          jsonType.label: "long"
  - name: "service_account"
    description: "Specific scope for a client enabled for service accounts"
    protocol: "openid-connect"
    attributes:
      include.in.token.scope: "false"
      display.on.consent.screen: "false"
    protocolMappers:
      - name: "Client ID"
        protocol: "openid-connect"
        protocolMapper: "oidc-usersessionmodel-note-mapper"
        consentRequired: false
        config:
          user.session.note: "client_id"
          id.token.claim: "true"
          introspection.token.claim: "true"
          access.token.claim: "true"
          claim.name: "client_id"
          jsonType.label: "String"
      - name: "Client IP Address"
        protocol: "openid-connect"
        protocolMapper: "oidc-usersessionmodel-note-mapper"
        consentRequired: false
        config:
          user.session.note: "clientAddress"
          id.token.claim: "true"
          introspection.token.claim: "true"
          access.token.claim: "true"
          claim.name: "clientAddress"
          jsonType.label: "String"
      - name: "Client Host"
        protocol: "openid-connect"
        protocolMapper: "oidc-usersessionmodel-note-mapper"
        consentRequired: false
        config:
          user.session.note: "clientHost"
          id.token.claim: "true"
          introspection.token.claim: "true"
          access.token.claim: "true"
          claim.name: "clientHost"
          jsonType.label: "String"
  - name: "groups"
    description: "When requested, this scope will map a user's group memberships to\
      \ a claim"
    protocol: "openid-connect"
    attributes:
      include.in.token.scope: "true"
      display.on.consent.screen: "false"
      gui.order: ""
      consent.screen.text: ""
    protocolMappers:
      - name: "groups"
        protocol: "openid-connect"
        protocolMapper: "oidc-group-membership-mapper"
        consentRequired: false
        config:
          full.path: "false"
          id.token.claim: "true"
          access.token.claim: "true"
          claim.name: "groups"
          userinfo.token.claim: "true"
identityProviders:
  - alias: "google"
    displayName: ""
    providerId: "google"
    enabled: true
    updateProfileFirstLoginMode: "on"
    trustEmail: true
    storeToken: false
    addReadTokenRoleOnCreate: false
    authenticateByDefault: false
    linkOnly: false
    hideOnLogin: false
    config:
      offlineAccess: "false"
      acceptsPromptNoneForwardFromClient: "false"
      clientId: "$(GOOGLE_CLIENT_ID)"
      disableUserInfo: "false"
      filteredByClaim: "false"
      syncMode: "LEGACY"
      clientSecret: "$(GOOGLE_CLIENT_SECRET)"
      caseSensitiveOriginalUsername: "false"
      defaultScope: "email openid"
defaultLocale: ""
attributes: {}
keycloakVersion: "26.1.5"
