---
realm: "master"
displayName: "Keycloak"
displayNameHtml: "<div class=\"kc-logo-text\"><span>Keycloak</span></div>"
accessTokenLifespan: 60
enabled: true
roles:
  realm:
    - name: "create-realm"
      description: "${role_create-realm}"
      composite: false
      clientRole: false
    - name: "admin"
      description: "${role_admin}"
      composite: true
      composites:
        realm:
          - "create-realm"
        client:
          infra-realm:
            - "view-realm"
            - "manage-users"
            - "query-realms"
            - "view-clients"
            - "manage-clients"
            - "query-groups"
            - "manage-events"
            - "view-authorization"
            - "impersonation"
            - "view-events"
            - "query-clients"
            - "manage-realm"
            - "query-users"
            - "create-client"
            - "view-users"
            - "manage-identity-providers"
            - "manage-authorization"
            - "view-identity-providers"
          chorus-realm:
            - "manage-authorization"
            - "manage-realm"
            - "view-identity-providers"
            - "manage-users"
            - "query-groups"
            - "view-clients"
            - "view-authorization"
            - "manage-events"
            - "create-client"
            - "view-realm"
            - "query-clients"
            - "impersonation"
            - "manage-clients"
            - "manage-identity-providers"
            - "query-users"
            - "query-realms"
            - "view-events"
            - "view-users"
          master-realm:
            - "query-clients"
            - "view-clients"
            - "view-events"
            - "manage-clients"
            - "query-groups"
            - "query-users"
            - "create-client"
            - "manage-events"
            - "query-realms"
            - "manage-authorization"
            - "manage-users"
            - "view-authorization"
            - "view-users"
            - "impersonation"
            - "view-identity-providers"
            - "view-realm"
            - "manage-realm"
            - "manage-identity-providers"
      clientRole: false
  client:
    infra-realm:
      - name: "create-client"
        description: "${role_create-client}"
        composite: false
        clientRole: true
      - name: "manage-identity-providers"
        description: "${role_manage-identity-providers}"
        composite: false
        clientRole: true
      - name: "view-clients"
        description: "${role_view-clients}"
        composite: true
        composites:
          client:
            infra-realm:
              - "query-clients"
        clientRole: true
      - name: "view-users"
        description: "${role_view-users}"
        composite: true
        composites:
          client:
            infra-realm:
              - "query-users"
              - "query-groups"
        clientRole: true
      - name: "manage-clients"
        description: "${role_manage-clients}"
        composite: false
        clientRole: true
      - name: "view-events"
        description: "${role_view-events}"
        composite: false
        clientRole: true
      - name: "view-realm"
        description: "${role_view-realm}"
        composite: false
        clientRole: true
      - name: "manage-authorization"
        description: "${role_manage-authorization}"
        composite: false
        clientRole: true
      - name: "query-groups"
        description: "${role_query-groups}"
        composite: false
        clientRole: true
      - name: "manage-users"
        description: "${role_manage-users}"
        composite: false
        clientRole: true
      - name: "view-identity-providers"
        description: "${role_view-identity-providers}"
        composite: false
        clientRole: true
      - name: "query-realms"
        description: "${role_query-realms}"
        composite: false
        clientRole: true
      - name: "query-clients"
        description: "${role_query-clients}"
        composite: false
        clientRole: true
      - name: "manage-events"
        description: "${role_manage-events}"
        composite: false
        clientRole: true
      - name: "impersonation"
        description: "${role_impersonation}"
        composite: false
        clientRole: true
      - name: "view-authorization"
        description: "${role_view-authorization}"
        composite: false
        clientRole: true
      - name: "manage-realm"
        description: "${role_manage-realm}"
        composite: false
        clientRole: true
      - name: "query-users"
        description: "${role_query-users}"
        composite: false
        clientRole: true
    chorus-realm:
      - name: "manage-authorization"
        description: "${role_manage-authorization}"
        composite: false
        clientRole: true
      - name: "manage-realm"
        description: "${role_manage-realm}"
        composite: false
        clientRole: true
      - name: "impersonation"
        description: "${role_impersonation}"
        composite: false
        clientRole: true
      - name: "query-clients"
        description: "${role_query-clients}"
        composite: false
        clientRole: true
      - name: "query-realms"
        description: "${role_query-realms}"
        composite: false
        clientRole: true
      - name: "manage-clients"
        description: "${role_manage-clients}"
        composite: false
        clientRole: true
      - name: "view-identity-providers"
        description: "${role_view-identity-providers}"
        composite: false
        clientRole: true
      - name: "manage-users"
        description: "${role_manage-users}"
        composite: false
        clientRole: true
      - name: "query-groups"
        description: "${role_query-groups}"
        composite: false
        clientRole: true
      - name: "manage-identity-providers"
        description: "${role_manage-identity-providers}"
        composite: false
        clientRole: true
      - name: "view-clients"
        description: "${role_view-clients}"
        composite: true
        composites:
          client:
            chorus-realm:
              - "query-clients"
        clientRole: true
      - name: "create-client"
        description: "${role_create-client}"
        composite: false
        clientRole: true
      - name: "view-realm"
        description: "${role_view-realm}"
        composite: false
        clientRole: true
      - name: "view-events"
        description: "${role_view-events}"
        composite: false
        clientRole: true
      - name: "view-users"
        description: "${role_view-users}"
        composite: true
        composites:
          client:
            chorus-realm:
              - "query-groups"
              - "query-users"
        clientRole: true
      - name: "view-authorization"
        description: "${role_view-authorization}"
        composite: false
        clientRole: true
      - name: "manage-events"
        description: "${role_manage-events}"
        composite: false
        clientRole: true
      - name: "query-users"
        description: "${role_query-users}"
        composite: false
        clientRole: true
    master-realm:
      - name: "manage-events"
        description: "${role_manage-events}"
        composite: false
        clientRole: true
        containerId: "8bb6c065-c25a-40c9-8d6c-97742283a54b"
      - name: "query-groups"
        description: "${role_query-groups}"
        composite: false
        clientRole: true
      - name: "query-realms"
        description: "${role_query-realms}"
        composite: false
        clientRole: true
      - name: "impersonation"
        description: "${role_impersonation}"
        composite: false
        clientRole: true
      - name: "view-users"
        description: "${role_view-users}"
        composite: true
        composites:
          client:
            master-realm:
              - "query-groups"
              - "query-users"
        clientRole: true
      - name: "view-identity-providers"
        description: "${role_view-identity-providers}"
        composite: false
        clientRole: true
      - name: "manage-authorization"
        description: "${role_manage-authorization}"
        composite: false
        clientRole: true
      - name: "query-users"
        description: "${role_query-users}"
        composite: false
        clientRole: true
      - name: "create-client"
        description: "${role_create-client}"
        composite: false
        clientRole: true
      - name: "manage-users"
        description: "${role_manage-users}"
        composite: false
        clientRole: true
      - name: "view-authorization"
        description: "${role_view-authorization}"
        composite: false
        clientRole: true
      - name: "manage-realm"
        description: "${role_manage-realm}"
        composite: false
        clientRole: true
      - name: "query-clients"
        description: "${role_query-clients}"
        composite: false
        clientRole: true
      - name: "view-realm"
        description: "${role_view-realm}"
        composite: false
        clientRole: true
      - name: "view-clients"
        description: "${role_view-clients}"
        composite: true
        composites:
          client:
            master-realm:
              - "query-clients"
        clientRole: true
      - name: "manage-clients"
        description: "${role_manage-clients}"
        composite: false
        clientRole: true
      - name: "manage-identity-providers"
        description: "${role_manage-identity-providers}"
        composite: false
        clientRole: true
      - name: "view-events"
        description: "${role_view-events}"
        composite: false
        clientRole: true
groups:
  - name: "CHORUS-admin"
    path: "/CHORUS-admin"
    subGroups: []
    realmRoles:
      - "admin"
webAuthnPolicySignatureAlgorithms:
  - "ES256"
  - "RS256"
webAuthnPolicyPasswordlessSignatureAlgorithms:
  - "ES256"
  - "RS256"
clients:
  - clientId: "admin-cli"
    name: "${client_admin-cli}"
    redirectUris: []
    webOrigins: []
    standardFlowEnabled: false
    directAccessGrantsEnabled: true
    publicClient: true
    frontchannelLogout: false
    protocol: "openid-connect"
    attributes:
      realm_client: "false"
      client.use.lightweight.access.token.enabled: "true"
    nodeReRegistrationTimeout: 0
    access: {}
  - clientId: "broker"
    name: "${client_broker}"
    redirectUris: []
    webOrigins: []
    bearerOnly: true
    publicClient: false
    frontchannelLogout: false
    protocol: "openid-connect"
    attributes:
      realm_client: "true"
    fullScopeAllowed: false
    nodeReRegistrationTimeout: 0
    access: {}
  - clientId: "infra-realm"
    name: "infra Realm"
    redirectUris: []
    webOrigins: []
    bearerOnly: true
    publicClient: false
    frontchannelLogout: false
    protocol: "openid-connect"
    attributes:
      realm_client: "true"
    fullScopeAllowed: false
    nodeReRegistrationTimeout: 0
    defaultClientScopes: []
    optionalClientScopes: []
    access: {}
  - clientId: "chorus-realm"
    name: "chorus Realm"
    redirectUris: []
    webOrigins: []
    bearerOnly: true
    publicClient: false
    frontchannelLogout: false
    protocol: "openid-connect"
    attributes:
      realm_client: "true"
    fullScopeAllowed: false
    nodeReRegistrationTimeout: 0
    defaultClientScopes: []
    optionalClientScopes: []
    access: {}
  - clientId: "master-realm"
    name: "master Realm"
    redirectUris: []
    webOrigins: []
    bearerOnly: true
    publicClient: false
    frontchannelLogout: false
    protocol: "openid-connect"
    attributes:
      realm_client: "true"
    fullScopeAllowed: false
    nodeReRegistrationTimeout: 0
    access: {}
clientScopes:
  - name: "acr"
    description: "OpenID Connect scope for add acr (authentication context class reference)\
      \ to the token"
    protocol: "openid-connect"
    attributes:
      include.in.token.scope: "false"
      display.on.consent.screen: "false"
    protocolMappers:
      - name: "acr loa level"
        protocol: "openid-connect"
        protocolMapper: "oidc-acr-mapper"
        consentRequired: false
        config:
          id.token.claim: "true"
          introspection.token.claim: "true"
          access.token.claim: "true"
  - name: "organization"
    description: "Additional claims about the organization a subject belongs to"
    protocol: "openid-connect"
    attributes:
      include.in.token.scope: "true"
      consent.screen.text: "${organizationScopeConsentText}"
      display.on.consent.screen: "true"
    protocolMappers:
      - name: "organization"
        protocol: "openid-connect"
        protocolMapper: "oidc-organization-membership-mapper"
        consentRequired: false
        config:
          id.token.claim: "true"
          introspection.token.claim: "true"
          access.token.claim: "true"
          claim.name: "organization"
          jsonType.label: "String"
          multivalued: "true"
  - name: "microprofile-jwt"
    description: "Microprofile - JWT built-in scope"
    protocol: "openid-connect"
    attributes:
      include.in.token.scope: "true"
      display.on.consent.screen: "false"
    protocolMappers:
      - name: "groups"
        protocol: "openid-connect"
        protocolMapper: "oidc-usermodel-realm-role-mapper"
        consentRequired: false
        config:
          introspection.token.claim: "true"
          multivalued: "true"
          user.attribute: "foo"
          id.token.claim: "true"
          access.token.claim: "true"
          claim.name: "groups"
          jsonType.label: "String"
      - name: "upn"
        protocol: "openid-connect"
        protocolMapper: "oidc-usermodel-attribute-mapper"
        consentRequired: false
        config:
          introspection.token.claim: "true"
          userinfo.token.claim: "true"
          user.attribute: "username"
          id.token.claim: "true"
          access.token.claim: "true"
          claim.name: "upn"
          jsonType.label: "String"
  - name: "basic"
    description: "OpenID Connect scope for add all basic claims to the token"
    protocol: "openid-connect"
    attributes:
      include.in.token.scope: "false"
      display.on.consent.screen: "false"
    protocolMappers:
      - name: "auth_time"
        protocol: "openid-connect"
        protocolMapper: "oidc-usersessionmodel-note-mapper"
        consentRequired: false
        config:
          user.session.note: "AUTH_TIME"
          id.token.claim: "true"
          introspection.token.claim: "true"
          access.token.claim: "true"
          claim.name: "auth_time"
          jsonType.label: "long"
      - name: "sub"
        protocol: "openid-connect"
        protocolMapper: "oidc-sub-mapper"
        consentRequired: false
        config:
          introspection.token.claim: "true"
          access.token.claim: "true"
  - name: "service_account"
    description: "Specific scope for a client enabled for service accounts"
    protocol: "openid-connect"
    attributes:
      include.in.token.scope: "false"
      display.on.consent.screen: "false"
    protocolMappers:
      - name: "Client IP Address"
        protocol: "openid-connect"
        protocolMapper: "oidc-usersessionmodel-note-mapper"
        consentRequired: false
        config:
          user.session.note: "clientAddress"
          id.token.claim: "true"
          introspection.token.claim: "true"
          access.token.claim: "true"
          claim.name: "clientAddress"
          jsonType.label: "String"
      - name: "Client ID"
        protocol: "openid-connect"
        protocolMapper: "oidc-usersessionmodel-note-mapper"
        consentRequired: false
        config:
          user.session.note: "client_id"
          id.token.claim: "true"
          introspection.token.claim: "true"
          access.token.claim: "true"
          claim.name: "client_id"
          jsonType.label: "String"
      - name: "Client Host"
        protocol: "openid-connect"
        protocolMapper: "oidc-usersessionmodel-note-mapper"
        consentRequired: false
        config:
          user.session.note: "clientHost"
          id.token.claim: "true"
          introspection.token.claim: "true"
          access.token.claim: "true"
          claim.name: "clientHost"
          jsonType.label: "String"
identityProviders:
  - alias: "google"
    displayName: ""
    providerId: "google"
    enabled: true
    updateProfileFirstLoginMode: "on"
    trustEmail: false
    storeToken: false
    addReadTokenRoleOnCreate: false
    authenticateByDefault: false
    linkOnly: false
    hideOnLogin: false
    config:
      offlineAccess: "true"
      acceptsPromptNoneForwardFromClient: "false"
      clientId: "$(GOOGLE_CLIENT_ID)"
      disableUserInfo: "true"
      filteredByClaim: "false"
      syncMode: "FORCE"
      clientSecret: "$(GOOGLE_CLIENT_SECRET)"
      caseSensitiveOriginalUsername: "false"
      defaultScope: "email openid"
attributes: {}
keycloakVersion: "26.1.5"
