# Minimal config
trivy-operator:
  priorityClassName: medium-priority
  trivyOperator:
    scanJobPodPriorityClassName: batch-priority
  serviceMonitor:
    # enabled determines whether a serviceMonitor should be deployed
    enabled: true
  trivy:
    # If you enable builtInTrivyServer
    # make sure to set a low priority class for it
    # builtInTrivyServer: true
    # priorityClassName: low-priority
    ignoreUnfixed: true
    resources:
      requests:
        cpu: 500m
        memory: 500M
      limits:
        cpu: 1000m
        memory: 1000M
  operator:
    metricsVulnIdEnabled: true
    metricsClusterComplianceInfo: true
    metricsExposedSecretInfo: true
    metricsInfraAssessmentInfo: true
    metricsRbacAssessmentInfo: true
    metricsConfigAuditInfo: true
  service:
    # disabled ensures that the pod gets a ClusterIP.
    headless: false
