loki:
  # global:
  #   imageRegistry: harbor.build.chorus-tre.local
  #   priorityClassName: high-priority
  # imagePullSecrets:
  #   - name: regcred
  # TODO: transition to Distributed for QA and Production
  deploymentMode: SimpleScalable

  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  ingester:
    chunk_encoding: snappy
  querier:
    # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
    max_concurrent: 4
  pattern_ingester:
    enabled: true
  limits_config:
    allow_structured_metadata: true
    volume_enabled: true

  loki:
    image:
      repository: docker_proxy/grafana/loki
      tag: 3.6.4
    storage:
      # bucketNames:
      #   chunks: chorus-loki-chunks
      #   ruler: chorus-loki-ruler
      #   admin: chorus-loki-admin
      # s3:
      #   s3: null
      #   endpoint: null
      #   region: null
      #   secretAccessKey: null
      #   accessKeyId: null
      #   signatureVersion: null
      #   s3ForcePathStyle: false
      #   insecure: false
      #   http_config: {}
      #   # -- Check https://grafana.com/docs/loki/latest/configure/#s3_storage_config for more info on how to provide a backoff_config
      #   backoff_config: {}
      #   disable_dualstack: false